{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">Bienvenue</h1>
    <p>Un stage, c'est une période pendant laquelle beaucoup d'informations sont absorbées, assimilées et circulent sans arrêt. Une période où tous les sens doivent être opérationnels et où l'attention doit être à son maximum.</p>
    <p>C'est pourquoi la nécessité de noter chacune de ses actions et de ces nouvelles informations est cruciale afin de préparer au mieux son rapport de stage et la soutenance qui suit. Ce blog est un moyen personnel de garder en mémoire toutes les actions que je serai amené à faire au sein de l'entreprise pendant ma période de stage.</p>
{% endblock %}

