{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    
    <div class="row">
        {% for user in users %}
            <div class="card-grid col-md-2 m-3">
                <div class="front row">
                    <img src="/images/avatars/{{ user.avatar }}" alt="" height="90%" class="avatar avatar-middle pt-2">
                    <div class="col-12 font-weight-bold" style="display: flex; justify-content: center; font-size: 15px; color: white; letter-spacing: 3px;">{{ user.username }}</div>
                </div>

                <div class="card_back back align-items-center card_border" style="background-color: white; color: black;">
                    <div class="row justify-content-center align-items-center">
                        <a href="{{ path('blog_user', {'id': user.id}) }}" class="col-12 row btn btn-primary align-items-center justify-content-center" style="font-size:16px; height: 96px; display: flex;"> <span>Son blog</span></a>
                        <a href="#" class="col-12 btn btn-warning align-items-center justify-content-center" style="font-size:16px; height: 96px; display: flex;">Son profil</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}